{% extends "cliente/layout.html" %}

<!-- Content -->
{% block content %}

{% if producto %}

<div class="row">
    <div class="col-md">
        <img src={{ producto[6] }} class="p-3 m-2" width="600" alt="image"/>
    </div>
    <div class="col-md-6">
        <div class="form-group p-3 m-2">
            <h3 class="mt-2">Detalle Producto</h3>
            <p>Nombre : {{ producto[1] }}</p>
            <p>Detalle : {{ producto[2] }}</p>
            <p>Precio : {{ producto[3] }}</p>
            <p>Talla : {{ producto[4] }}</p>

            <p>Stock Disponible : {{ producto[5] }}</p>
            <hr/>
            <h3 class="mt-2">Agregar a Carrito</h3>

            <form action="/cliente/agregar-producto-producto" method="POST">
                <input type="hidden" name="id-producto" value={{ producto[0] }}>

                <label for="cantidad">Cantidad:</label>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">0</span>
                    </div>
                    <input name="cantidad"
                        min="0" max={{ producto[5] }} step="1"
                        type="number" class="form-control" id="cantidad" placeholder="1" value="1">

                    <div class="input-group-append">
                        <span class="input-group-text">{{ producto[5] }}</span>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Agregar Carrito</button>
            </form>
        </div>
    </div>
</div>
{% endif %}

{% endblock content %}