{% extends "cliente/layout.html" %}

{% block content %}

<h1>MI INFORMACION</h1>
<h2>{{cliente[1]}} {{cliente[2]}}</h2>

<form action="/actualizar-cliente" method="POST">
    <input name="idCliente" type="text" value="{{cliente[0]}}" hidden>
    <div class="row">
        <div class="col-3">
            <label for="nombres" class="col-form-label">Nombres</label>
            <input name="nombres" class="form-control inputNombre" type="text" value="{{cliente[1]}}" disabled>
        </div>
        <div class="col-3">
            <label for="apellidos" class="col-form-label">Apellidos</label>
            <input name="apellidos" class="form-control inputApellidos" type="text" value="{{cliente[2]}}" disabled>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <label for="correo" class="col-form-label">Correo</label>
            <input name="correo" class="form-control inputCorreo" type="text" value="{{cliente[3]}}" disabled>
        </div>
        <div class="col-3">
            <label for="contraseña" class="col-form-label">Contraseña</label>
            <input name="contraseña" class="form-control inputContraseña" type="password" value="{{cliente[4]}}"
                disabled>
            <br>
        </div>

    </div>
    <div class="row">
        <div class="col-3">
            <input class="form-control inputSubmit btn btn-success" type="submit" value="Guardar cambios" hidden>
            
        </div>
    </div>

</form>
<div class="row">
    <div class="col-3">
        <br>
        <button class="form-control btn btn-warning" onclick="habilitarInputs()">Habilitar edicion</button>
    </div>
</div>

<script>
    function habilitarInputs() {
        let nombres = document.querySelector(".inputNombre");
        nombres.disabled = false;
        let apellidos = document.querySelector(".inputApellidos");
        apellidos.disabled = false;
        let correo = document.querySelector(".inputCorreo");
        correo.disabled = false;
        let password = document.querySelector(".inputContraseña");
        password.disabled = false;
        let inputSubmit = document.querySelector(".inputSubmit");
        inputSubmit.hidden = false;

    }
</script>

{% endblock content%}