{% extends "cliente/layout.html" %}

{% block content %}

<h1>MI CARRITO DE COMPRAS</h1>
<h4 class="text-primary">SIN PRODUCTOS</h4>
<div class="container">
    <div class="row">

        {%if productos%}
        {%for items in productos%}
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <h2>Vestido</h2>
                    </div>
                    <div class="card-body">
                        <p>Esta es una descripcion de vestido</p>
                        <div class="row">
                            <div class="col-6">
                                <img src="https://m.media-amazon.com/images/I/51f9FaV7TwL._AC_SY741_.jpg" alt=""
                                    width="100px" height="150px">
                            </div>
                            <div class="col-6">
                                <h4>Talla: Unitalla</h4>
                                <h5>Precio: $100</h5>
                            </div>

                        </div>
                        <div>
                            <br>
                            <form action="">
                                <input type="submit" class="btn btn-danger" value="Eliminar del carrito" >
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-8"></div>
            <div class="col-4">
                <form action="">
                    <input type="submit" value="Realizar compra" class="btn btn-success">
                </form>
            </div>
        </div>
        {%endfor%}
        {%else%}


        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <h2>Vestido</h2>
                    </div>
                    <div class="card-body">
                        <p>Esta es una descripcion de vestido</p>
                        <div class="row">
                            <div class="col-6">
                                <img src="https://m.media-amazon.com/images/I/51f9FaV7TwL._AC_SY741_.jpg" alt=""
                                    width="100px" height="150px">
                            </div>
                            <div class="col-6">
                                <h4>Talla: Unitalla</h4>
                                <h5>Precio: $100</h5>
                            </div>

                        </div>
                        <div>
                            <br>
                            <form action="">
                                <input type="submit" class="btn btn-danger" value="Eliminar del carrito" >
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        
        {%endif%}
    </div>
    <div class="row">
        <div class="col-8"></div>
        <div class="col-4">
            <form action="">
                <input type="submit" value="Realizar compra" class="btn btn-success">
            </form>
        </div>
    </div>
</div>



{% endblock content%}