{% extends "cliente/layout.html" %}

{% block ScriptJS %}
<script>

    let subtotales = document.getElementsByClassName('front-sub-total');
    let total = 0;
    [...subtotales].forEach(e => {
        console.log(`Value: ${e}`)
        total += parseFloat(e.innerHTML);
    });

    let totalElement = document.getElementById('front-total')
    console.log("total: " + total);
    console.log('totalElement');
    totalElement.innerHTML = `Total: ${total}`;

</script>
{% endblock ScriptJS %}

{% block content %}

<h1>MI CARRITO DE COMPRAS</h1>
<div class="row">
    <h4 class="col-10 text-primary">Productos</h4>
    <div class="col-2">
        <form action="/generar-venta" method="POST">
            <input type="submit" value="Realizar compra" class="btn btn-success">
        </form>
    </div>
</div>
<hr>
<h2><span id="front-total"></span></h2>
<hr>
<div class="container">
    <div class="row">

        {% if carrito|length > 0 %}
        {% for item in carrito[3] %}
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <h2>{{ item[5] }} - {{ item[6] }}</h2>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <img src={{ item[10] }} alt="" width="100px" height="150px">
                            </div>
                            <div class="col-6">
                                <h4>Talla: {{ item[8] }}</h4>
                                <h5>Precio Unidad: ${{ item[7] }}</h5>
                                <hr>
                                <h4>Cantidad: {{ item[2] }}</h4>
                                <h5>Sub-total: $<span class="front-sub-total">{{ item[3] }}</span></h5>
                            </div>

                        </div>
                        <div>
                            <br>
                            <form action="">
                                <input type="submit" class="btn btn-danger" value="Eliminar del carrito">
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <h4>Tu carrito se encuentra vacío :(, comienza por agregar algunos productos.</h4>
        {%endif%}
    </div>

</div>



{% endblock content%}