{% extends "adm/layout.html" %}

<!-- Init when having tables hola-->
{% block ScriptJS %}
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable();
        });
    </script>
{% endblock ScriptJS %}

<!-- Content -->
{% block content %}
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">
        Producto
    </h1>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="row">
                <div class="col-6 m-0 font-weight-bold text-primary">
                    <h6>
                        Listado Productos
                    </h6>
                </div>
                <div class="col-6 text-right">
                    <button type="button" class="btn btn-success btn-icon-split" data-toggle="modal"
                            data-target="#agregarProductoModal">
                        <span class="icon text-white-50">
                            <i class="fas fa-plus"></i>
                        </span>
                        <span class="text">Agregar</span>
                    </button>
                    <div class="modal fade" id="agregarProductoModal" tabindex="-1"
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <form action="{{ url_for('administrativo.producto.agregar_producto') }}" method="POST"
                                  class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">
                                        Agregar un nuevo Producto
                                    </h5>
                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <!-- Nombre -->
                                    <div class="form-group form-row">
                                        <label class="col-3 col-form-label" for="nombre">Nombre</label>
                                        <div class="col">
                                            <input
                                                    type="text" class="form-control" name="nombre"
                                                    id="nombre"/>
                                        </div>
                                    </div>

                                    <!-- Descripcion -->
                                    <div class="form-group form-row">
                                        <label class="col-3 col-form-label" for="descripcion">Descripcion</label>
                                        <div class="col">
                                            <input
                                                    type="text" class="form-control" name="descripcion"
                                                    id="descripcion"/>
                                        </div>
                                    </div>

                                    <!-- Talla -->
                                    <div class="form-group form-row">
                                        <label class="col-3 col-form-label" for="talla">Talla</label>
                                        <div class="col">
                                            <input
                                                    type="text" class="form-control" name="talla" id="talla"/>
                                        </div>
                                    </div>

                                    <div class="form-group form-row">
                                        <label class="col-3 col-form-label" for="image_url">Url de la Imagen</label>
                                        <div class="col">
                                            <input
                                                    type="text" class="form-control" name="image_url"
                                                    id="image_url"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar
                                    </button>
                                    <button class="btn btn-primary" type="submit">Guardar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Precio</th>
                        <th>Talla</th>
                        <th>Stock</th>
                        <th>Activo</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if productos %}
                        {% for producto in productos %}
                            <tr data-materia-id="{{ producto[0] }}">
                                <td>{{ producto[1] }}</td>
                                <td>{{ producto[2] }}</td>
                                <td>{{ producto[3] }}</td>
                                <td>{{ producto[4] }}</td>
                                <td>{{ producto[5] }}</td>
                                <td>
                                    {% if producto[6] == 1 %}
                                        Activo
                                    {% else %}
                                        Inactivo
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{{ url_for('administrativo.producto.detalle_producto', product_id=producto[0]) }}">
                                        <i class="fa-solid fa-eye"></i>
                                        Detalle
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


{% endblock content %}