{% extends "adm/layout.html" %}


<!-- Content -->
{% block content %}

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">
    Nueva Materia prima
</h1>
<!-- Form Card -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">
            Insumo
            <div class="float-right">
                <form>
                    <div class="float-right">
                        <button id="btnAgregar" 
                            type="submit" form="form" value="add" formmethod="post" formaction="/guardar-materia"
                            class="btn btn-primary btn-icon-split">
                            <span class="icon text-white-50">
                                <i class="fas fa-plus-circle"></i>
                            </span>
                            <span class="text">Guardar</span>
                        </button>
                    </div>
                </form>
                <!--<button id="Guardar" class="btn btn-success btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-check"></i>
                    </span>
                    <span class="text">Guardar</span>-->
                </button>
            </div>
        </h6>
    </div>
    <div class="card-body">
        <form id="form">

            <input type="hidden" name="accion" id="accion" value="consultar">
            <input type="hidden" name="idEditable" id="idEditable" value="0">
            

            <!-- Nombre -->
            <div class="form-group form-row">
                <label class="col-1 col-form-label" for="nombre">Nombre</label>
                <div class="col-4">
                    <input type="text" placeholder="Nombre" class="form-control" name="nombre" id="nombre" />
                </div>
            </div>

            <!-- Descripcion -->
            <div class="form-group form-row">
                <label class="col-1 col-form-label" for="descripcion">Descripcion</label>
                <div class="col-4">
                    <input type="text" placeholder="Descripcion" class="form-control" name="descripcion" id="descripcion" />
                </div>
            </div>

            <!-- Cantidad -->
            <div class="form-group form-row">
                <label class="col-1 col-form-label" for="cantidad">Cantidad</label>
                <div class="col-4">
                    <input type="number" placeholder="cantidad" class="form-control" name="cantidad" id="cantidad" />
                </div>
            </div>

            <!-- Unidad -->
            <div class="form-group form-row">
                <label class="col-1 col-form-label" for="unidad">Unidad</label>
                <div class="col-4">
                    <input type="text" placeholder="Unidad" class="form-control" name="unidad" id="unidad" />
                </div>
            </div>
            

        
        </form>
    </div>
</div>


{% endblock content %}