{% extends "adm/layout.html" %}

<!-- Init when having tables hola-->
{% block ScriptJS %}
<script>
    $(document).ready(function () {
        $('#dataTable').DataTable();
    });
</script>
{% endblock ScriptJS %}

<!-- Content -->
{% block content %}
<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">
    Ventas
</h1>
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">
            Listado Ventas
        </h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            Folio
                        </th>
                        <th>
                            Total
                        </th>
                        <th>
                            fecha
                        </th>
                        <th>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% if ventas %}
                    {% for item in ventas %}

                    <tr data-compra-id="{{ item[0] }}">
                        <td>{{ item[1] }}</td>
                        <td>{{ item[2] }}</td>
                        <td>{{ item[3] }}</td>
                        <td>
                            <a href="{{ url_for('administrador.ventas.getDetalleVentas', id=item[4]) }}">
                                <i class="fa-solid fa-eye"></i>
                                Detalle
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock content %}