{% extends "adm/layout.html" %}


<!-- Content -->
{% block content %}

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">
    Detalle de Venta
</h1>
<!-- Form Card -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">
            Productos de la venta
        </h6>
    </div>
    <div class="card-body">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>
                        Producto
                    </th>
                    <th>
                        Cantidad
                    </th>
                    <th>
                        Precio
                    </th>
                    <th>
                        Talla
                    </th>
                    <th>
                        
                    </th>
                    <th>
                        
                    </th>
                </tr>
            </thead>
            <tbody>
                {% if ventas %}
                {% for item in ventas %}

                <tr data-compra-id="{{ item[0] }}">
                    <td>{{ item[5] }}</td>
                    <td>{{ item[3] }}</td>
                    <td>{{ item[4] }}</td>
                    <td>{{ item[7] }}</td>
                    <td>
                        <img src="{{item[8]}}" width="70px" height="100px" alt="">
                    </td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
</div>


{% endblock content %}