{% extends "adm/layout.html" %}

<!-- Init when having tables hola-->
{% block ScriptJS %}
<script>
    $(document).ready(function () {
        $('#dataTable').DataTable();
    });
</script>
{% endblock ScriptJS %}

<!-- Content -->
{% block content %}
<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">
    MateriaPrima
</h1>
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">
            Listado Materias
        </h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            Nombre
                        </th>
                        <th>
                            Descripción
                        </th>
                        <th>
                            Unidades
                        </th>
                        <th>
                            Stock
                        </th>
                        <th>
                            Folio de compra
                        </th>
                        <th>
                            Fecha de compra
                        </th>
                        <th>
                            Proveedor
                        </th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>
                            Nombre
                        </th>
                        <th>
                            Descripción
                        </th>
                        <th>
                            Unidades
                        </th>
                        <th>
                            Stock
                        </th>
                        <th>
                            Folio de compra
                        </th>
                        <th>
                            Fecha de compra
                        </th>
                        <th>
                            Proveedor
                        </th>
                    </tr>
                </tfoot>
                <tbody>
                    {% if materias %}
                    {% for materia in materias %}

                    <tr data-materia-id="{{ materia[0] }}">
                        <td>{{ materia[1] }}</td>
                        <td>{{ materia[2] }}</td>
                        <td>{{ materia[4] }}</td>
                        <td>{{ materia[3] }}</td>
                        <td>{{ materia[5] }}</td>
                        <td>{{ materia[6] }}</td>
                        <td>{{ materia[7] }}</td>
                        <td>
                            <a href="/productos/detalle-materia/{{ materia[0] }}">
                                <i class="fa-solid fa-eye"></i>
                                Detalle
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock content %}