{% extends "adm/layout.html" %}

<!-- Init when having tables -->
{% block ScriptJS %}
<script>
    $(document).ready(function () {
        $('#dataTable').DataTable();
    });
</script>
{% endblock ScriptJS %}

<!-- Content -->
{% block content %}
<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">
    Proveedores
</h1>
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">
            Listado Proveedores
        </h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            Nombre
                        </th>
                        <th>
                            Contacto
                        </th>
                        <th>
                            Teléfono
                        </th>
                        <th>
                            Correo
                        </th>
                        <th>
                            Consultar
                        </th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>
                            Nombre
                        </th>
                        <th>
                            Contacto
                        </th>
                        <th>
                            Teléfono
                        </th>
                        <th>
                            Correo
                        </th>
                        <th>
                            Consultar
                        </th>
                    </tr>
                </tfoot>
                <tbody>
                    {% if proveedores %}
                    {% for proveedor in proveedores %}
                    <tr data-proveedor-id="{{ proveedor[0] }}">
                        <td>{{ proveedor[1] }}</td>
                        <td>{{ proveedor[2] }}</td>
                        <td>{{ proveedor[3] }}</td>
                        <td>{{ proveedor[4] }}</td>
                        <td>
                            <a href="/consultar-proveedor/{{ proveedor[0] }}">
                                <i class="fa-solid fa-eye"></i>
                                Detalle
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock content %}