<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="../static/css/login.css" rel="stylesheet">
</head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<body>
    <div class="sidenav">
        <div class="login-main-text">
            <h2>Renegade<br> Login</h2>
            <p>Inicie sesión para comenzar con la experencia de Renegade !!!</p>
        </div>
    </div>
    <div class="main">
        <div class="col-md-6 col-sm-12">
            {%with messages = get_flashed_messages()%}
            {% if messages %}
            {%for message in messages%}
            <div class="alert alert-success">
                {{message}}
            </div>
            {%endfor%}
            {%endif%}
            {%endwith%}
            <div class="login-form">
                <form action="/login" method="POST">
                    <div class="form-group">
                        <label>Correo electrónico</label>
                        <input type="text" class="form-control" placeholder="correo@gmail.com" required name="email"
                            id="email">
                    </div>
                    <div class="form-group ">
                        <label>Password</label>
                        <input type="password" class="form-control" placeholder="******************" required
                            name="password" id="password">
                    </div>
                    <button type="submit" class="btn btn-black">Iniciar sesión</button>
                    <a class="btn btn-white" href="{{ url_for('auth.signup_get') }}">Crear cuenta</a>
                </form>
                <br>
                <br>
            </div>
        </div>
        {% if g.user %}
        {%if g.user.id%}
        <hr>
        <a class="dropdown-item" href="{{ url_for('auth.logout') }}" data-toggle="modal" data-target="#logoutModal">
            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
            Logout
        </a>
        {%endif%}
        {%endif%}
    </div>


</body>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

</html>